.videos {
  background-image: url("https://tctechcrunch2011.files.wordpress.com/2017/03/sound-united.png?w=738");
}
.colors{
  background-color:olive;
}
.bgcolors{
  background-color: #f53d3d;

}
.color {
  font-style:italic;
  background-color: salmon;


}
.bg{
  background-color:darkgray ;
  font-family: "Microsoft Sans Serif";

}

.button-ios-rounded {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;


  line-height: 175px;
  text-align: center;
}
.button-ios-1{
  margin-top: 5px;
  margin-left: 20px;
  height: 70px;
  width: 100px;

}
.button-ios-2{
  margin-top: 150px;
  margin-left: 50px;
  height: 70px;
  width:100px ;


}
.button-ios-3{
  margin-left: 50px;
  margin-top: 350px;
  height: 70px;
  width:100px ;

}
.button-ios-4{
  margin-left: 175px;
  margin-top: 40px;
  margin-right: 700px;
  height: 70px;
  width:100px ;

}
.button-ios-5{
  margin-left: 19px;
  margin-top: 30px;
  margin-right: 800px;
  height: 70px;
  width:100px ;
}
