.videos {
  background-image: url("");
  width: 100%;
  height: 80px;
}

.colors{
  background-color:#e75f5a;
}photo.jpg");
.bgcolors{
  background-color: #f53d3d;

}
.color{
background-color:#fafafa;
}

.bg{
  background-color:darkgray ;
  font-family: "Microsoft Sans Serif";

}

.button-ios-rounded {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;


  line-height: 175px;
  text-align: center;
}
.button-ios-1{
  margin-top: 5px;
  margin-left: 120px;
  height: 70px;
  width: 100px;
  background-color:#C25996;

}
.button-ios-2{
  margin-top: 200px;
  margin-left: 80px;
  height: 70px;
  width:100px ;
  background-color:#C25996;


}
.button-ios-3{
  margin-left: 50px;
  margin-top: 400px;
  height: 70px;
  width:100px ;
  background-color: #C25996;

}
.button-ios-4{
  margin-left: 600px;
  margin-top: 40px;
  margin-right: 700px;
  height: 70px;
  width:100px ;
  background-color: #C25996;

}
.button-ios-5{
  margin-left: 602px;
  margin-top: 40px;
  margin-right: 800px;
  height: 70px;
  width:100px ;
  background-color: #C25996;
}
.button-ios-6{
  margin-left: 470px;
  margin-top: 50px;
  margin-right: 400px;
  height: 70px;
  width:100px ;
  background-color: #C25996;
}
.button-ios-7{
  margin-left: 300px;
  margin-top: 50px;
  margin-right: 500px;
  height: 70px;
  width:100px ;
  background-color:#C25996;
}
.button-ios-8{
  margin-left: 120px;
  margin-top: 30px;
  margin-right: 500px;
  height: 70px;
  width:100px ;
  background-color: #C25996;
}
