.videos {
  background-image: url("https://images.pexels.com/photos/111276/pexels-photo-111276.jpeg?dl&fit=crop&w=1280&h=854, https://www.pexels.com/photo/woman-in-yellow-knitted-sweater-taking-photo-of-mountain-during-day-time-111276/");
  width: 1280px;
  height: 800px;

}
.colors{
  background-color:olive;
}
.bgcolors{
  background-color: #f53d3d;

}
.color {
  font-style:italic;
  background-color: salmon;


}
.bg{
  background-color:darkgray ;
  font-family: "Microsoft Sans Serif";

}

.button-ios-rounded {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;

  background-color: #D8EBAD;
  line-height: 175px;
  text-align: center;
}
.button-ios-1{
  background-color: #D8EBAD;
  margin-top: 5px;
  margin-left: 120px;
  height: 70px;
  width: 100px;

}
.button-ios-2{
  background-color: #D8EBAD;
  margin-top: 200px;
  margin-left: 80px;
  height: 70px;
  width:100px ;


}
.button-ios-3{
  background-color: #D8EBAD;
  margin-left: 50px;
  margin-top: 400px;
  height: 70px;
  width:100px ;

}
.button-ios-4{
  background-color: #D8EBAD;
  margin-left: 600px;
  margin-top: 40px;
  margin-right: 700px;
  height: 70px;
  width:100px ;

}
.button-ios-5{
  background-color: #D8EBAD;
  margin-left: 600px;
  margin-top: 40px;
  margin-right: 800px;
  height: 70px;
  width:100px ;
}
.button-ios-6{
  background-color: #D8EBAD;
  margin-left: 470px;
  margin-top: 50px;
  margin-right: 400px;
  height: 70px;
  width:100px ;
}
.button-ios-7{
  background-color: #D8EBAD;
  margin-left: 300px;
  margin-top: 50px;
  margin-right: 500px;
  height: 70px;
  width:100px ;
}
.button-ios-8{
  background-color: #D8EBAD;
  margin-left: 120px;
  margin-top: 30px;
  margin-right: 500px;
  height: 70px;
  width:100px ;
}